.students__header {
  display: flex;
  justify-content: flex-end;
  margin-top: 33px;
}

.students__navigate {
  display: flex;
  align-items: center;
  gap: 27px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
  cursor: pointer;
}

.students__navigate:hover .students__arrow {
  transform: translateX(17px);
}

.students__arrow {
  transform: rotate(180deg);
  transition: all 340ms ease-in;
}

.students__table {
  width: 100%;
  border-spacing: 0;
  background: #fcfcfc;
}

.students__heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  color: #000000;
}

.students__row {
  width: 100%;
  border-bottom: 1px solid #aeaeae;
}

.students__row > td,
.students__row > th {
  margin: 10px 0;
  padding: 28px 5px;
  padding-left: 22px;
  position: relative;
  border-bottom: 1px solid #aeaeae;
}

.students__row > td::after,
.students__row > th::after {
  content: "";
  width: 1px;
  height: 40px;
  background: #aeaeae;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.students__row > th {
  font-weight: 600;
  font-size: 20px;
  text-align: start;
}

.students__row > th:first-child::after {
  width: 0;
}
